<!--created by lollipop 2018/9/5-->
<div class="incent-way clearfix">
    <div style="width: 1000px; margin: 0 auto;">
        <div class="second-wrap">
            <div class="first-wrap">
                <div class="first-content">

                </div>
                <div class="second-content">
                    <h2>员工激励方案</h2>
                    <div class="sub-title">让您企业省下90%发送奖励的时间和成本！</div>
                    <p>
                        员工激励是对员工的各种需要予以不同程度的满足或者限制，以激发员工的需要、动机、欲望，
                        从而使员工形成某一特定目标并在追求这一目标的过程中保持高昂的情绪和持续的积极状态，
                        充分挖掘潜力，全力达到预期目标的过程。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width:1000px; margin:0 auto;">
    <img src="../images/corp_welfare/pic_24.jpg" style="width:961px; margin:0 auto;display:block; margin-top:60px;" />
    <div class="clearfix" style="width:961px;margin:0 auto;">
        <div class="down-img">
            <div class="one">大数据支持</div>
            <div class="two">关注到每一名员工<br/>提升工作动力 </div>
        </div>
        <div class="down-img" style="margin-left:60px;">
            <div class="one">创新形式</div>
            <div class="two">打破时间、地点、层级<br/>对激励的限制</div>
        </div>
        <div class="down-img" style="margin-left:60px;">
            <div class="one">HR省心</div>
            <div class="two">可视化数据报表输出<br/>方便管理 </div>
        </div>
    </div>
</div>
<div class="clearfix" style="padding-top: 50px; padding-bottom: 50px; background: #f8f8f8;">
    <div style="width: 1000px; margin: 0 auto; text-align: center">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2>员工激励模式</h2>
            <div class="subhead">互联网+员工激励新模式</div>
        </div>
        <div class="content-width" style="padding-top:50px; width:964px;">
            <div class="img-box">
                <img src="../images/corp_welfare/pic_25.jpg">
                <div class="word" style="color: black;">
                    <div class="inside-box">
                        <div class="one">成就性激励</div>
                        <div class="two">通过对员工的具体贡献即时表达认可、尊重和赏识，通过帮员工在任务中明确目标和职责，并在企业内公开的平台表达赞赏及奖励，使员工在企业中“可见”，从而收获成就感。</div>
                    </div>
                </div>
            </div>
            <div class="img-box" style="margin-left:40px;">
                <img src="../images/corp_welfare/pic_26.jpg">
                <div class="word" style="color: black;">
                    <div class="inside-box">
                        <div class="one">福利性激励</div>
                        <div class="two">以员工生活中的个性化需求为核心，通过满足员工福利“人无我有，人有我优”的特点，提高员工对福利的感知，在员工吸引和保留方面有显著的作用。</div>
                    </div>
                </div>
            </div>
            <div class="yellow-word">详询 400-8856-112</div>
        </div>
    </div>
</div>
<div style="width: 1000px; padding-top: 50px; padding-bottom: 50px; margin: 0 auto; text-align: center">
    <div class="panel-head">
        <div class="short-line layui-inline"></div>
        <h2>一站式完备解决方案</h2>
    </div>
    <img src="../images/corp_welfare/pic_27.jpg" style="width:981px;margin:0 auto;display:block; margin-top:60px;" />
</div>