<!--created by lollipop 2018/9/5-->
<div class="clearfix" style="padding-top: 50px; padding-bottom: 50px; background: #f8f8f8;">
    <div style="width: 1000px; margin: 0 auto;">
        <div class="second-wrap">
            <div class="first-wrap">
                <div class="first-content">
                    <img src="./images/corp_welfare/pic_03.png" alt="">
                </div>
                <div class="second-content">
                    <h2>提供一系列中高端会展服务</h2>
                    <div class="sub-title">方便企业开展各类活动，提供便利</div>
                    <p>
                        我们为广大客户提供展览展示策划、展台设计制作、特装展台搭建、企业展厅布置、
                        大型活动策划执行、会议会场布置、巡回展览、路演、公关推广执行、会议庆典礼仪等一站式的专业服务
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix" style="padding-top: 50px; padding-bottom: 50px; width: 1000px; margin: 0 auto;">
    <div class="icon-img">
        <img src="./images/corp_welfare/icon_27.png" />
        <div>强大的执行团队</div>
        <div>及时交付</div>
    </div>
    <div class="icon-img">
        <img src="./images/corp_welfare/icon_28.png" />
        <div>实时把控制作进度</div>
        <div>保证品质</div>
    </div>
    <div class="icon-img">
        <img src="./images/corp_welfare/icon_29.png" />
        <div>及时响应客户需求</div>
        <div>快速而高效</div>
    </div>
    <div class="icon-img">
        <img src="./images/corp_welfare/icon_30.png" />
        <div>丰富的会展活动经验</div>
        <div>实现您的创意</div>
    </div>
</div>
<div style="padding-top: 50px; padding-bottom: 50px; background: #f8f8f8;">
    <div style="width: 1000px; margin: 0 auto; text-align: center;">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2>服务介绍</h2>
            <div class="subhead">我们提供多种服务供您选择</div>
        </div>
        <div style="padding-top:50px;">
            <div class="circle-and">
                <div class="circle"></div>
                <div class="word334">沙龙活动</div>
            </div>
            <div class="circle-and">
                <div class="circle"></div>
                <div class="word334">人才招聘活动</div>
            </div>
            <div class="circle-and">
                <div class="circle"></div>
                <div class="word334">高精端人才交流活动</div>
            </div>
            <div class="circle-and">
                <div class="circle"></div>
                <div class="word334" style="color:#a0a0a0">其他更多活动</div>
            </div>
            <div class="yellow-word">详询 400-8856-112</div>
        </div>
    </div>
</div>
<div style="width: 1000px; padding-top: 50px; padding-bottom: 50px; margin: 0 auto; text-align: center">
    <div class="panel-head">
        <div class="short-line layui-inline"></div>
        <h2>以往案例</h2>
    </div>
    <img src="./images/corp_welfare/pic_27.jpg" style="width:981px;margin:0 auto;display:block; margin-top:60px;" />
</div>