<!--created by lollipop 2018/9/5-->
<div style="padding-top: 60px; text-align: center; background: #f8f8f8;">
    <div style="width: 1200px; margin: 0 auto;">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2>精选体检推荐</h2>
            <div class="subhead">HOT RECOMMENDATION</div>
        </div>
        <div class="clearfix" style="padding-top: 60px;">
            <div class="baoxian-item">
                <img src="./images/corp_welfare/baoxian1.png" alt="">
                <h3>企业团体综合意外险</h3>
                <p class="sub-title">为企业员工设计的保险，3人起投</p>
                <p class="sale">￥25.00/人起</p>
            </div>
            <div class="baoxian-item">
                <img src="./images/corp_welfare/baoxian2.png" alt="">
                <h3>团体短期综合意外险</h3>
                <p class="sub-title">团体短期工作、活动最佳保障，5人起投</p>
                <p class="sale">￥5.00/人起</p>
            </div>
            <div class="baoxian-item">
                <img src="./images/corp_welfare/baoxian3.png" alt="">
                <h3>团体国内旅游保险</h3>
                <p class="sub-title">专为公司旅游定制的保险服务</p>
                <p class="sale">￥7.00/人起</p>
            </div>
            <div class="baoxian-item">
                <img src="./images/corp_welfare/baoxian3.png" alt="">
                <h3>团体交通意外险</h3>
                <p class="sub-title">飞机、火车、大巴、私家车全都保</p>
                <p class="sale">￥10.00/人起</p>
            </div>
        </div>
        <div class="learn-more">
            <a href="javascript:void(0)" class="default-btn" id="openForm3">了解更多</a>
        </div>
    </div>
</div>
<div style="padding-top: 50px; padding-bottom: 50px; text-align: center;">
    <div style="width: 1200px; margin: 0 auto;">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2>精选体检推荐</h2>
            <div class="subhead">HOT RECOMMENDATION</div>
        </div>
        <div class="clearfix" style="padding-top: 60px;">
            <div class="ser-item">
                <img src="./images/corp_welfare/baoxian5.png" alt="">
                <h3>定制保险</h3>
                <p class="sub-title">综合规划保障</p>
                <p class="sub-title">专业定制保险方案</p>
            </div>
            <div class="ser-item">
                <img src="./images/corp_welfare/baoxian6.png" alt="">
                <h3>金牌顾问</h3>
                <p class="sub-title">全程投保指导</p>
                <p class="sub-title">省时又省心</p>
            </div>
            <div class="ser-item">
                <img src="./images/corp_welfare/baoxian7.png" alt="">
                <h3>推荐产品</h3>
                <p class="sub-title">专业方案配置</p>
                <p class="sub-title">高性价比产品</p>
            </div>
        </div>
    </div>
</div>
<div class="ourpro">
    <div style="padding-top: 50px; padding-bottom: 50px; width: 1000px; margin: 0 auto; text-align: center">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2><span>员工健康</span>好产品</h2>
            <div class="subhead">9151薪宝，省时、省心、省开支、服务好、员工的健康管家</div>
        </div>
        <div style="padding-top: 40px; padding-bottom: 30px;">
            <p>*我们的体检价格远低于自信采购，部分项目还送健康服务</p>
            <p>*员工商业保险服务，对接多家优质保险服务商</p>
            <p>*提供员工健康风险评估、报告解读、专家咨询、提供健康报告</p>
            <p>*健康福利可打包进整体福利中，减轻HR负担</p>
            <p>*家属共享员工优惠价</p>
        </div>
        <div class="clearfix">
            <div class="icon-img">
                <img src="./images/corp_welfare/tijian8.png" />
                <div>专注企业健康、员工体检</div>
                <div>有众多特大型企业体检服务案例</div>
            </div>
            <div class="icon-img">
                <img src="./images/corp_welfare/tijian9.png" />
                <div>套餐可在线升级、加项</div>
                <div>企业与体检预约系统对接</div>
            </div>
            <div class="icon-img">
                <img src="./images/corp_welfare/tijian10.png" />
                <div>拥有专业的技术与创新的团队</div>
                <div>资深客服坐席为您服务</div>
            </div>
            <div class="icon-img">
                <img src="./images/corp_welfare/tijian11.png" />
                <div>与国内主流体检机构</div>
                <div>三甲、二甲医院深度合作</div>
            </div>
        </div>
    </div>

</div>
<!--进一步了解产品 start-->
<% include ../../comm/better_understand.ejs %>
<!--进一步了解产品 end-->