<!--created by lollipop 2018/9/4-->
<div style="padding-top: 60px; text-align: center; background: #f8f8f8;">
    <div style="width: 1200px; margin: 0 auto;">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2>精选体检推荐</h2>
            <div class="subhead">HOT RECOMMENDATION</div>
        </div>
        <div class="clearfix" style="padding-top: 60px;">
            <div class="tijian-item">
                <i class="icon-title qiye"></i>
                <img src="./images/corp_welfare/tijian1.png" alt="">
                <h3>经典新员工体检套餐</h3>
                <p class="sale">￥256.00起</p>
            </div>
            <div class="tijian-item">
                <i class="icon-title qiye"></i>
                <img src="./images/corp_welfare/tijian2.png" alt="">
                <h3>白领精英套餐</h3>
                <p class="sale">￥780.00起</p>
            </div>
            <div class="tijian-item">
                <i class="icon-title nvxing"></i>
                <img src="./images/corp_welfare/tijian3.png" alt="">
                <h3>华美丽人女性套餐</h3>
                <p class="sale">￥498.00起</p>
            </div>
            <div class="tijian-brand">
                <img src="./images/corp_welfare/tijian-1.jpg" alt="">
                <img src="./images/corp_welfare/tijian-2.jpg" alt="">
            </div>
        </div>
        <div class="learn-more">
            <a href="javascript:void(0)" class="default-btn" id="openForm1">了解更多</a>
        </div>
    </div>
</div>
<div style="padding-top: 60px; text-align: center;">
    <div style="width: 1000px; margin: 0 auto;">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2>服务介绍</h2>
            <div class="subhead">中小型企业定制体检首选</div>
        </div>
        <div class="clearfix" style="padding-top: 50px; padding-bottom: 50px;">
            <div class="pull-left">
                <div class="tijian-list">
                    <img src="./images/corp_welfare/tijian6-l.png" alt="" style="width: 373px; height: 321px;">
                    <a href="javascript:void(0)" class="default-btn trans-btn"  id="openForm2"></a>
                </div>
            </div>
            <div class="pull-right">
                <img src="./images/corp_welfare/pic_02.jpg" alt="" style="width: 550px; height: 323px;">
            </div>
        </div>
    </div>
</div>
<div class="ourpro">
    <div style="padding-top: 50px; padding-bottom: 50px; width: 1000px; margin: 0 auto; text-align: center">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2><span>员工健康</span>好产品</h2>
            <div class="subhead">9151薪宝，省时、省心、省开支、服务好、员工的健康管家</div>
        </div>
        <div style="padding-top: 40px; padding-bottom: 30px;">
            <p>*我们的体检价格远低于自信采购，部分项目还送健康服务</p>
            <p>*员工商业保险服务，对接多家优质保险服务商</p>
            <p>*提供员工健康风险评估、报告解读、专家咨询、提供健康报告</p>
            <p>*健康福利可打包进整体福利中，减轻HR负担</p>
            <p>*家属共享员工优惠价</p>
        </div>
        <div class="clearfix">
            <div class="icon-img">
                <img src="./images/corp_welfare/tijian8.png" />
                <div>专注企业健康、员工体检</div>
                <div>有众多特大型企业体检服务案例</div>
            </div>
            <div class="icon-img">
                <img src="./images/corp_welfare/tijian9.png" />
                <div>套餐可在线升级、加项</div>
                <div>企业与体检预约系统对接</div>
            </div>
            <div class="icon-img">
                <img src="./images/corp_welfare/tijian10.png" />
                <div>拥有专业的技术与创新的团队</div>
                <div>资深客服坐席为您服务</div>
            </div>
            <div class="icon-img">
                <img src="./images/corp_welfare/tijian11.png" />
                <div>与国内主流体检机构</div>
                <div>三甲、二甲医院深度合作</div>
            </div>
        </div>
    </div>

</div>
<!--进一步了解产品 start-->
<% include ../../comm/better_understand.ejs %>
<!--进一步了解产品 end-->