<!--created by lollipop 2018/9/4-->
<div class="clearfix" style="padding-top: 50px; padding-bottom: 50px; background: #f8f8f8;">
    <div style="width: 1000px; margin: 0 auto;">
        <div class="second-wrap">
            <div class="first-wrap">
                <div class="first-content">
                    <img src="./images/corp_welfare/pic_01.png" alt="">
                </div>
                <div class="second-content">
                    <h2>什么是弹性福利?</h2>
                    <div class="sub-title">一站式全方位覆盖员工消费需求场景</div>
                    <p>
                        弹性福利，是指企业确定对每个员工福利的投入(通常用积分形式体现)的前提下，
                        由员工在福利菜单中选择适合自己的福利，因此也叫菜单式福利。
                        这样企业既控制了总体成本，又使得投入的每一分钱都效用最大化。
                        弹性福利的出现，在很大程度上解决企业成本管理和员工满意度的矛盾。
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix" style="padding-top: 50px; padding-bottom: 50px; width: 1000px; margin: 0 auto;">
    <div class="icon-img">
        <img src="./images/corp_welfare/icon_13.png" />
        <div>◇大数据精准分析员工喜好</div>
        <div>◇契合员工需求</div>
    </div>
    <div class="icon-img">
        <img src="./images/corp_welfare/icon_14.png" />
        <div>◇整合各类优质资源</div>
        <div>◇可兼容企业原有供应商</div>
    </div>
    <div class="icon-img">
        <img src="./images/corp_welfare/icon_15.png" />
        <div>◇可根据企业预算需求</div>
        <div>◇实现福利效益最大化</div>
    </div>
    <div class="icon-img">
        <img src="./images/corp_welfare/icon_16.png" />
        <div>◇丰富多样的自选福利</div>
        <div>◇差异化消费场景全覆盖</div>
    </div>
</div>
<div style="padding-top: 60px; text-align: center; background: #f8f8f8;">
    <div style="width: 1000px; margin: 0 auto;">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2>服务介绍</h2>
            <div class="subhead">覆盖多种员工消费需求场景</div>
        </div>
        <div class="clearfix" style="padding-top: 50px; padding-bottom: 50px;">
            <div class="pull-left">
                <img src="./images/corp_welfare/pic_14.jpg" alt="" style="width: 431px; height: 336px;">
            </div>
            <div class="pull-right">
                <img src="./images/corp_welfare/pic_02.jpg" alt="" style="width: 553px; height: 313px;">
            </div>
        </div>
    </div>
</div>
<div  style="padding-top: 50px; padding-bottom: 50px; width: 1000px;  margin: 0 auto; text-align: center;">
    <div class="panel-head">
        <div class="short-line layui-inline"></div>
        <h2>服务流程</h2>
        <div class="subhead">资金安全有保障，所有流程清晰合规合理</div>
    </div>
    <div  style="padding-top: 60px;">
        <img src="./images/corp_welfare/pic_15.jpg" alt=""  style="width: 880px; height: 235px;">
    </div>
</div>