<!--created by lollipop 2018/9/5-->
<div class="clearfix" style="padding-top: 50px; padding-bottom: 50px; background: #f8f8f8;">
    <div style="width: 1000px; margin: 0 auto;">
        <div class="second-wrap">
            <div class="first-wrap">
                <div class="first-content">
                    <img src="../images/corp_welfare/pic_02.png" alt="">
                </div>
                <div class="second-content">
                    <h2>年节福利</h2>
                    <div class="sub-title">让企业让福利更专业 更便捷</div>
                    <p>
                        致力于企业时令节日福利、客户回馈计划等，专为企业提供全方位、多元化的节日福利、礼赠品综合解决方案，
                        包括标准套餐和定制服务。帮助企业在有无预算状态下，解决员工福利的筛选、发放、管理、满意度等难题。。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service_adv">
    <h2>我们的服务优势</h2>
    <div class="clearfix">
        <div class="icon-img2">
            <img src="../images/corp_welfare/icon_13.png">
            <div class="right-img2">
                <div class="word1">大数据支持</div>
                <div class="word2">大数据精准分析员工喜好<br>契合员工中秋福利需求</div>
            </div>
        </div>
        <div class="icon-img2" style="float:right">
            <img src="../images/corp_welfare/icon_13.png">
            <div class="right-img2">
                <div class="word1">优质产品</div>
                <div class="word2">丰富多样的自选福利<br>差异化消费场景全覆盖</div>
            </div>
        </div>
        <div class="icon-img2">
            <img src="../images/corp_welfare/icon_13.png">
            <div class="right-img2">
                <div class="word1">售后无忧</div>
                <div class="word2">先行赔付机制，专业客服团队<br>售后48小时解决方案</div>
            </div>
        </div>
        <div class="icon-img2" style="float:right">
            <img src="../images/corp_welfare/icon_13.png">
            <div class="right-img2">
                <div class="word1">值得信赖</div>
                <div class="word2">行业优领先的服务团队<br>多年的福利管理经验</div>
            </div>
        </div>
    </div>
</div>
<div style="padding-top: 60px; text-align: center;  background: #f8f8f8;">
    <div style="width: 1012px; margin: 0 auto;">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2>服务介绍</h2>
            <div class="subhead">覆盖多种员工消费需求场景</div>
        </div>
        <div class="clearfix" style="padding-top: 50px; padding-bottom: 50px;">
            <div class="pull-left">
                <div class="tijian-list">
                    <img src="../images/corp_welfare/pic_17.jpg" alt="" style="width: 431px; height: 336px;">
                    <a href="javascript:void(0)" class="default-btn trans-btn"></a>
                </div>
            </div>
            <div class="pull-right">
                <img src="../images/corp_welfare/pic_16.jpg" alt="" style="width: 580px; height: 328px;">
            </div>
        </div>
    </div>
</div>
<div  style="padding-top: 50px; padding-bottom: 50px; width: 1000px;  margin: 0 auto; text-align: center;">
    <div class="panel-head">
        <div class="short-line layui-inline"></div>
        <h2>企业定制服务</h2>
        <div class="subhead">我们可根据节日特点和企业预算以及需求</div>
        <div class="subhead">定制企业专属的员工福利产品方案</div>
    </div>
    <div  style="padding-top: 60px;">
        <img src="../images/corp_welfare/pic_18.jpg" alt=""  style="width: 880px; height: 286px;">
    </div>
</div>