<!--created by lollipop 2018/9/3-->
<div class="better_understand">
    <div class="panel-head">
        <div class="short-line layui-inline"></div>
        <h2>进一步了解产品</h2>
        <div class="subhead">contact us</div>
    </div>
    <div class="layui-form">
        <ul>
            <li>
                <div class="layui-inline">
                    <input type="text" name="companyname" required lay-verify="required" placeholder="企业名称" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <input type="text" name="indutry" required lay-verify="required" placeholder="企业性质（如互联网金融）" autocomplete="off" class="layui-input">
                </div>
            </li>
            <li>
                <div class="layui-inline">
                    <input type="text" name="username" required lay-verify="required" placeholder="姓名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <input type="text" name="phonenumber" required lay-verify="required" placeholder="电话" autocomplete="off" class="layui-input">
                </div>
            </li>
        </ul>
        <div>
            <button class="layui-btn" lay-submit lay-filter="formContactus">提交</button>
        </div>
    </div>
</div>