//Created by lollipop 2018/9/4
/*footer*/
.footer{ padding:60px 0; clear:both; font-size:12px;background:#f6f6f6; margin-top:80px; color:#000; height:auto; overflow:hidden;}
.footer_box{ margin:0 auto; width:1000px;}
.footer_boxin{ width:1000px; margin:0 auto; height:220px; padding-top:40px}
.footer_left{float:left;}
.footer_left_img{ margin-bottom:20px;}
.footer_left_img img{ margin-right:14px;}
.footer_right{ float:right; color:#0081bf; text-align:right}
.footer_right a{ color:#0081bf; margin:0 5px}
.footer_right img{ margin-top:12px;}