//Created by lollipop 2018/8/31

* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  font: 14px 'MicrosoftYahei';
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.nav-container {
  margin: 0 auto;
  width: 1200px;
}

a.default-btn {
  display: inline-block;
  margin: 20px 0 60px 0;
  padding: 0 22px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #ed5647;
  border: 1px solid #ed5647;
  border-radius: 100px;
  &.trans-btn {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background-color: rgba(137, 137, 137, 0.25);
      border-radius: 100px;
      transition: width linear 0.3s;
    }
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
}

.panel-head {
  .short-line {
    width: 20px;
    height: 4px;
    background: #00b9fe;
  }
  h2 {
    margin: 10px 0;
    font-size: 28px;
    font-weight: bold;
    span {
      color: #00b9fe;
    }
  }
  .subhead {
    text-transform: uppercase;
  }
  &.color-white {
    color: #fff;
  }
}

.better_understand {
  margin-top: 100px;
  text-align: center;

    ul {
      margin: 40px 0;
    }
    li {
      &:first-child {
        margin-bottom: 20px;
      }
      .layui-inline {
        width: 320px;
        margin-left: 40px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .layui-input {
      border-radius: 100px;
    }
  .layui-btn {
    padding: 0 76px;
    background: #0093fb linear-gradient(to right, #00c5ff, #0093fb);
    border-radius: 40px;
  }
}

