<!--created by lollipop 2018/9/5-->
<!DOCTYPE html>
<html lang = 'en'>
<head>
    <% include ../includes/meta.ejs %>
    <link rel="stylesheet" href="../css/hr_service.css">
</head>
<body>
<div class="banner-wrap">
    <% include ../includes/navBar.ejs %>
    <div class="banner-img advice-img"></div>
</div>
<div class="advice_wrap">
    <div class="box1">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2>专业和权威的信息咨询服务</h2>
            <div class="subhead">INFORMATION CONSULTING SERVICE </div>
        </div>
        <div class="panel-body">
            <div class="up">
                <p>51金融圈于2016年首发<span>《新兴金融人才战略蓝皮书》</span></p>
                <p>并在2017年与新华社、上海互金行业协会、美世咨询强强联手，发布具有行业引导性的</p>
                <p><span>《金融人才指数》</span><span>《金融行业薪酬报告》</span></p>
            </div>
            <div class="down">
                <h5>合作伙伴</h5>
                <img src="../images/hr_service/zixun1.png" alt="" style="width: 596px; height: 50px;">
            </div>
        </div>
    </div>
    <div class="box2">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2>金融行业薪酬报告</h2>
            <div class="subhead">FINANCIAL INDUSTRY  COMPEMATION SURVEY REPORT</div>
        </div>
        <ul class="boxes clearfix">
            <li class="box-item">
                <img src="../images/hr_service/zixun2.png" alt="">
                <p>金融行业薪酬报告</p>
            </li>
            <li class="box-item">
                <img src="../images/hr_service/zixun3.png" alt="">
                <p>金融行业薪酬报告</p>
                <p>（互金）</p>
            </li>
            <li class="box-item">
                <img src="../images/hr_service/zixun4.png" alt="">
                <p>金融行业薪酬报告</p>
                <p>（财富管理）</p>
            </li>
        </ul>
    </div>
    <div class="box3">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2>人才战略蓝皮书/人才指数报告</h2>
            <div class="subhead">引领人才趋势，助力国家战略</div>
        </div>
        <ul class="reports clearfix">
            <li class="report-item">
                <img src="../images/hr_service/zixun5.png" alt="">
                <p>新兴金融人才战略蓝皮书</p>
            </li>
            <li class="report-item">
                <img src="../images/hr_service/zixun6.png" alt="">
                <p>金融人才指数</p>
            </li>
        </ul>
    </div>
    <div class="box4">
        <div class="panel-head color-white">
            <div class="short-line layui-inline"></div>
            <h2><span>先进的</span>人力资源服务</h2>
            <div class="subhead">ADVANCED HR SERVICE</div>
        </div>
        <ul>
            <li>*解决金融领域存在的结构性问题，为金融行业提供薪酬报告参考。</li>
            <li>*完善金融业人才培养模式，为优化金融人才队伍建设提供参考。</li>
            <li>*树立品牌形象，提升影响力，建立以“51金融圈”为核心的金融人才就业圈。</li>
            <li>*提高互联网金融行业招聘的透明性和安全性，优化互联网金融行业的人才结构。</li>
        </ul>
    </div>
    <!--进一步了解产品 start-->
    <% include ../../comm/better_understand.ejs %>
    <!--进一步了解产品 end-->
</div>


<% include ../includes/footerBar.ejs %>
<script src="../vendor/layui-src/layui.js"></script>
<script src="../js/navbar-footer.js" type="text/javascript"></script>
</body>
</html><!--created by lollipop 2018/9/5-->