<!--created by lollipop 2018/9/4-->
<div class="footer">
    <div class="footer_box clearfix">
        <div class="pull-left">
            <div class="footer_left_img">
                <img src="../images/footer_icon01.jpg" width="108" height="40">
            </div>
            <p>©2017 9151xinbao.com</p>
            <p>沪ICP备14045153号-2</p>
        </div>
        <div class="pull-right">
            <div id="bottomQQ" style="height:94px;width:396px;background-image:url(../images/footer_right.jpg);">
                <div style="padding-top: 27px;padding-right: 10px;">
                </div>
            </div>
        </div>
    </div>
</div>