<!--created by lollipop 2018/9/5-->
<!DOCTYPE html>
<html lang = 'en'>
<head>
    <% include ../includes/metaHr.ejs %>
    <link rel="stylesheet" href="../css/hr_service.css">
</head>
<body>
<div class="banner-wrap">
    <% include ../includes/navBar.ejs %>
    <div class="banner-img AI-img"></div>
</div>
<div class="AI_wrap">
    <div style="padding-top: 50px; padding-bottom: 50px; text-align: center; background: #f9f9f9;">
        <div style="width: 1200px; margin: 0 auto;">
            <div class="panel-head">
                <div class="short-line layui-inline"></div>
                <h2>您在招聘中是否遇到了这些问题？</h2>
                <div class="subhead">PROBLEM</div>
            </div>
            <div class="clearfix" style="padding-top: 60px;">
                <div class="ser-item">
                    <img src="./images/hr_service/AI1.png" alt="">
                    <h3>简历太多，无暇处理</h3>
                    <p class="sub-title">一个岗位有几千份简历投递，人工筛选效率低下，还容易错过优秀的人才。</p>
                </div>
                <div class="ser-item">
                    <img src="./images/hr_service/AI2.png" alt="">
                    <h3>大部分时间都在忙于电话邀约</h3>
                    <p class="sub-title">电话邀约无法长时间保持工作热情，遇到恶劣对话情景时易产生情绪波动，长期压抑情绪、丧失工作热情，陷入效率低下成本升高的恶性循环。</p>
                </div>
                <div class="ser-item">
                    <img src="./images/hr_service/AI3.png" alt="">
                    <h3>候选人的求职意向不明确</h3>
                    <p class="sub-title">筛选了很久的简历，电话拨过去，候选人却没有求职意向，白白浪费了工作时间。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="intell-hr-tab">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2>AI招聘机器人</h2>
            <div class="subhead">AI RECRUITMENT ROBOT</div>
        </div>
        <ul class="tab-title clearfix">
            <li class="title-item active">
                <div class="box-img">
                    <img src="./images/hr_service/AI4.png" alt="">
                    <div>智能沟通</div>
                    <i class="icon-up-arrow"></i>
                </div>
            </li>
            <li class="title-item">
                <div class="box-img">
                    <img src="./images/hr_service/AI5.png" alt="">
                    <div>自动分析</div>
                    <i class="icon-up-arrow"></i>
                </div>
            </li>
            <li class="title-item">
                <div class="box-img">
                    <img src="./images/hr_service/AI6.png" alt="">
                    <div>不间断工作</div>
                    <i class="icon-up-arrow"></i>
                </div>
            </li>
        </ul>
        <ul class="tab-content clearfix">
            <li class="content-item active">
                <p>真人语音交互，专业招聘话术；主动引导电邀过程，候选人提问对答如流</p>
                <p>通话录音、识别文本自动存取</p>
                <p>候选人一键批量导入，随心设定自动拨打参数</p>
            </li>
            <li class="content-item">
                <p>全程监控机器对话，实时分析用户兴趣、年龄、求职意向</p>
                <p>机器与候选人协定面试时间，大大节约了人力</p>
            </li>
            <li class="content-item">
                <p>高质量 365天x24 小时无差别销售作业</p>
                <p>减少人工坐席，降低员工流动损失；敏捷配置，降低公司成本</p>
            </li>
        </ul>
    </div>
    <div class="main-pro">
        <div class="panel-head">
            <div class="short-line layui-inline"></div>
            <h2>使用场景</h2>
            <div class="subhead">MIAN PRODUCT</div>
        </div>
        <div class="panel-body clearfix">
            <img class="left-img" src="./images/hr_service/AI7.png" alt="">
            <div class="right-img">
                <div class="one word">
                    <h2>01. AI-智能求职意向沟通</h2>
                    <p>人工智能代替您去询问潜在候选人的意向</p>
                </div>
                <div class="two word">
                    <h2>02. AI-智能面试邀约</h2>
                    <p>自动帮您邀约候选人来面试，并协定时间</p>
                </div>
                <audio controls class="call-audio" src="./css/test.mp3"></audio>
            </div>
        </div>
    </div>
    <div class="ourpro">
        <div style="padding-top: 50px; padding-bottom: 50px; width: 1050px; margin: 0 auto; text-align: center">
            <div class="panel-head color-white">
                <div class="short-line layui-inline"></div>
                <h2>招聘效果得到显著提升</h2>
                <div class="subhead">EFFECT PROMOTION </div>
            </div>
            <ul class="panel-body clearfix">
                <li class="eff-item">
                    <div class="up-box">
                        <span class="num">12</span>
                        <span class="set">倍</span>
                        <i class="icon-arrow up"></i>
                    </div>
                    <div class="mid-box">
                        时间利用率
                    </div>
                    <div class="down-box">
                        提高 <span>12倍</span> 以上
                    </div>
                </li>
                <li class="eff-item">
                    <div class="up-box">
                        <span class="num">72</span>
                        <span class="set">%</span>
                        <i class="icon-arrow down"></i>
                    </div>
                    <div class="mid-box">
                        人力成本
                    </div>
                    <div class="down-box">
                        减少 <span>72%</span> 以上
                    </div>
                </li>
                <li class="eff-item">
                    <div class="up-box">
                        <span class="num">200</span>
                        <span class="set">%</span>
                        <i class="icon-arrow up"></i>
                    </div>
                    <div class="mid-box">
                        邀约成功率
                    </div>
                    <div class="down-box">
                        提高 <span>200%</span> 以上
                    </div>
                </li>
                <li class="eff-item">
                    <div class="up-box">
                        <span class="num">40</span>
                        <span class="set">%</span>
                        <i class="icon-arrow up"></i>
                    </div>
                    <div class="mid-box">
                        候选人满意度
                    </div>
                    <div class="down-box">
                        提高 <span>40%</span> 以上
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <!--进一步了解产品 start-->
    <% include ../../comm/better_understand.ejs %>
    <!--进一步了解产品 end-->
</div>


<% include ../includes/footerBar.ejs %>
<script src="../vendor/layui-src/layui.js"></script>
<script src="../js/navbar-footer.js" type="text/javascript"></script>
<script src="../js/AI.js" type="text/javascript"></script>
</body>
</html>