<!--created by lollipop 2018/8/31-->
<!DOCTYPE html>
<html lang = 'en'>
<head>
    <% include ../includes/meta.ejs %>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="banner-wrap">
        <% include ../includes/navBar.ejs %>
    </div>
    <% include ../includes/footer.ejs %>
    <script src="../vendor/layui-src/layui.js"></script>
    <script src="../js/navbar-footer.js" type="text/javascript"></script>
</body>
</html>
